.FilteredRestaurant {
    height: 400px;
    background-color: #181823;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    padding:50px 50px 50px 50px;
    color:white;
    border-radius: 10px;
    
}

.Name {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 24px;
    width: 100%;
}

.Info {
    float: left;
    width: 65%;
    color: #98A5D6;
}

.Hours {
    float: right;
    width: 30%;
    color: #98A5D6;
}

.Navigation {
    text-align: center;
}

#url {
    text-decoration: none;
    color: #98A5D6;
}
  
.homebutton:focus {
    outline: 0;
}

.link {
    text-decoration: none;
    color: white;
}

.homebutton {
border:none;
background-color: #519e8a;
height: 40px;
width: 120px;
margin-top: 20px;
color: #fff;
border-radius: 5px;
font-size: 16px;
margin-left: 10px;
margin-right: 10px;
letter-spacing: .5px;
transition: 0.5s;
margin-bottom: 0.25em;
}

.homebutton:hover {
color: #519e8a;
background-color: #fff;
border: 2px solid #519e8a;
}
