
.RandomRestaurant {
    height: 400px;
    background-color: #181823;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 150px;
    padding:50px 50px 50px 50px;
    color:white;
    border-radius: 10px;
    
}

.RName {
    margin-bottom: 2%;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
}

.RInfo {
    float: left;
    width: 35%;
    color: #98A5D6;
    margin-top: 65px;
}

.RContact {
    float: left;
    width: 35%;
    color: #98A5D6;
    margin-top: 65px;
}

.RTitle {
    color:#98A5D6;
    margin-bottom: 5px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 24px;
}

.RValue {
    color:#98A5D6;
    font-size: 18px;
    color:white;
}

.RDays {
    float: right;
    width: 10%;
    color: #98A5D6;
}
.RHours {
    float: right;
    width: 20%;
    color: #98A5D6;
}


.Navigation {
    text-align: center;
}

#Rurl {
    text-decoration: none;
    color: white;
}

.rerollbutton {
  border:none;
  background-color: #9666e8;
  height: 40px;
  width: 120px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px;
  letter-spacing: .5px;
  transition: 0.5s;
}

.rerollbutton:focus {
    outline: 0;
}

.rerollbutton:hover {
    background-color: #7b50c6;
    color: white;
    cursor: pointer;
}

.link {
    text-decoration: none;
    color: white;
}
 